<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World!</h1>
    <p>This is HTML page to render using flask</p>

    <!-- write python code in html -->
     {% for x in range (10)%}
        {% if x%2 == 0 %}
            <p>Even {{x}}</p>
        {% else %}
            <p>Odd {{x}}</p>
        {% endif %}
    {% endfor %}
    <!-- print variable from python script -->
    {% for x in name%}
        <p>{{x}}</p>
    {% endfor %}
</body>
</html>